.header {
  font-family: Chango;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  padding: 15px 0;
  user-select: none;
}

.mainContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.runBtn img {
  width: 80px;
}

.wrapperContainer {
  height: calc( 100vh - 150px );
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.editorContainer,
.outputContainer {
  overflow: auto;
  color: #fff;
  padding: 10px;
}

.editorContainer {
  background-color: var(--editor-color);
}

.outputContainer {
  background-color: var(--output-color);
  overflow-x: none;
}