.header {
  font-family: Chango;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  padding: 15px 0;
  user-select: none;
}

.mainContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.wrapperContainer {
  height: calc( 100vh - 150px );
  margin-top: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 769px) {
  .wrapperContainer {
    display: block;
    min-height: 150vh;
  }
  .editorContainer,
  .outputContainer {
    height: 45%;
  }

  .editorContainer {
    border-bottom: 1px solid #434242;
  }
}

.editorContainer,
.outputContainer {
  font-size: var(--editor-font-size);
  color: #fff;
}

.editorContainer {
  background-color: var(--editor-color);
  position: relative;
  font-size: var(--editor-font-size);
  overflow-y: hidden;
  display: grid;
  grid-template-columns: var(--gutter-width) calc(100% - var(--gutter-width));
}

.outputContainer {
  padding: 10px;
  background-color: var(--output-color);
  line-height: var(--editor-line-height);
}

.editorContainer .editor {
  height: calc(100% - 10px);
  color: #fff;
  position: relative;
}

.editorContainer .editor .editor-input {
  height: var(--editor-line-height);
  background: var(--editor-current-line);
  color: #fff;
  padding: 0 10px;
  position: absolute;
  left: 0;
  width: calc(100% - 20px);
  z-index: 100000;
  font-size: var(--editor-font-size);
}

.editorContainer .editor .editor-line {
  height: var(--editor-line-height);
  padding: 0 10px;
  display: grid;
  align-items: center;
  font-size: var(--editor-font-size);
}
.editorContainer .editor .editor-line.current-line {
  opacity: 0;
  pointer-events: none;
}

.editorContainer .gutter {
  min-height: 100%;
  padding-bottom: 0;
  color: #777879;
  background-color: var(--gutter-background-color);
  user-select: none;
}

.editorContainer .gutter div {
  height: var(--editor-line-height);
}

.editorContainer .gutter .current-line {
  color: #fff;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-gap: 10px;
  user-select: none;
}

.buttonContainer .btnTitleContaniner {
  position: relative;
}

.btnTitle {
  position: absolute;
  z-index: 10000;
  right: -10px;
  bottom: -10px;
  font-size: 10px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
  transition: all ease 0.5s;
}