.header {
  font-family: Chango;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  padding: 15px 0;
  user-select: none;
}

.mainContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.wrapperContainer {
  height: calc( 100vh - 150px );
  margin-top: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 769px) {
  .wrapperContainer {
    display: block;
    min-height: 150vh;
  }
  .editorContainer,
  .outputContainer {
    height: 45%;
  }
}

.editorContainer,
.outputContainer {
  color: #fff;
  padding: 10px;
}

.editorContainer {
  background-color: var(--editor-color);
  position: relative;
  font-size: var(--editor-font-size);
  overflow-y: hidden;
}

.outputContainer {
  background-color: var(--output-color);
  line-height: var(--editor-line-height);
}

.editorContainer .editor {
  height: calc(100% - 10px);
  position: absolute;
  left: calc(2 * var(--gutter-width) + var(--editor-gutter-space));
  width: calc(100% - var(--gutter-width) - var(--editor-gutter-space) - 10px);
  letter-spacing: 1px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.0);
  border: none;
  color: #fff;
}

.editorContainer .gutter {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  padding: 11px var(--gutter-width);
  padding-bottom: 0;
  text-align: right;
  color: #777879;
  background-color: var(--gutter-background-color);
  user-select: none;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-gap: 10px;
  user-select: none;
}

.buttonContainer .btnTitleContaniner {
  position: relative;
}

.btnTitle {
  position: absolute;
  z-index: 10000;
  right: -10px;
  bottom: -10px;
  font-size: 10px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
  transition: all ease 0.5s;
}