:root {
  --background-color: #33363A;

  --editor-color: #22272E;
  --output-color: #1B2027;
  --gutter-width: 70px;
  --gutter-background-color: #1B2027;
  --editor-font-size: 15px;
  --editor-gutter-space: 15px;
  --editor-line-height: 26px;
  --editor-current-line: #fffefe1f;
  
  --scrollbar-background: #2e2e30;
  --scrollbar-track-background: #4b4b4d;
}

@font-face {
    font-family: Chango;
    src: url('./fonts/Chango-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Light;
  src: url('./fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('./fonts/Montserrat-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body, input, ::placeholder, textarea, button, pre {
  font-family: Montserrat-Light;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

input, button, a, textarea {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.0);
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}
 
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-track-background);
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a; 
}

.dead-center {
  display: grid;
  align-items: center;
  justify-content: center;
}